site_name: XAUTOMATA Documentation
site_description: Documentation for the use of XAUTOMATA Services
site_url: https://www.xautomata.com/

theme:
  favicon: images/logo.png
  name: material
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.tooltips
    - navigation.sections
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - toc.follow
    - header.autohide

  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: blue
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: blue

repo_name: XAUTOMATA User Interface Documentation

plugins:
  - mkdocstrings
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

nav:
  - index.md
  - Access: Login.md
#  - Main Menu: main.md
#  - Side Menu:
#      - Asset: asset.md
#      - Disptcher: disptcher.md
#      - Admin: admin.md
  - Dashboards Description:
      - Dashboard Overview: overview.md
      - IT Infrastructure: it_infrastructure.md
      - Network: network_dashboard.md
      - Cloud Cost: cloudcost_dashboard.md
#      - Dashboard4: dash4.md
#  - Tree View: tree.md
  - Widgets Description:
      - Widget Overview: widget_overview.md
#      - Analytical Accounting: wid1.md
      - Cloud Cost: widget_cloudcost.md
      - IT Analytics: widget_it_analytics.md
#      - IT Anomalies: wid4.md
      - IT Infrastructure: widget_it_infrastructure.md
#      - MCD Dedicated: wid4.md
#      - Net Flow: wid4.md
      - Network: widget_network.md
      - Network Analytics: widget_network_analytics.md
#      - support Service KPI: wid4.md


copyright:
  All rights reserved
